* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  margin-bottom: 50px;
}
.flexible-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.half-width {
  width: 100%;
  margin: 30px 50px;
}
.half-width div {
  border-left: 5px solid #ff7f50;
  padding-left: 20px;
  border-radius: 9px;
  background: #fcfcfc;
  box-shadow: 11px 11px 10px #efefef, -11px -11px 10px #ffffff;
}
h1 {
  font-size: 50px;
  line-height: 80px;
}
h1 span {
  color: orange;
}
.half-width p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.half-width a {
  width: max-content;
  text-decoration: none;
  color: whitesmoke;
  background: #ff7f50;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
}
.half-width img {
  width: 80%;
}
.half-width .small-letters {
  font-size: 15px;
}
.h1-my-mission {
  text-align: center;
  margin-bottom: 50px;
}
.third-width {
  width: 30%;
  margin: 20px 10px;
  padding: 3%;
  border-radius: 10px;
}
.third-width img {
  width: 25%;
  pad: 10px 20px;
}
.third-width p {
  font-size: 14px;
  line-height: 25px;
}
.third-width h3 {
  margin-bottom: 14px;
}
#first {
  background: #e0ffff;
}
#second {
  background: #fff0f5;
}
#third {
  background: #fafad2;
}
#size-1 {
  margin-right: 0;
}
#size-2 p {
  font-size: 16px;
  margin-bottom: 40px;
}
#size-2 {
  width: auto;
  margin-left: 0;
}
#small-pic {
  width: 70%;
}
.tomato-color {
  color: tomato;
}
.white-color {
  color: white;
}
footer {
  text-align: center;
  background: #000;
  padding: 40px;
  margin: 0;
}
